{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block custom_css %}
    <style>
        .helptext{
            display: none;
        }
    </style>
{% endblock %}
{% block body %}

{% if not user.is_authenticated %}
    <!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Register</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Sign Up</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

 <!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Get Started</h3>
					<span>Already have an account? <a href="{% url 'accounts:login' %}">Log in!</a></span>
				</div>

				<!-- Form -->

                    <div class="container">
                        <div class="card">
                            <form action="{% url 'accounts:signup' %}" method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" >Sign Up <i class="icon-material-outline-arrow-right-alt"></i></button>
                            </form>
                        </div>
                    </div>



			</div>

		</div>
	</div>
</div>

    <br>
    <br>
    <br>


{%  endif %}

{% include 'footer.html' %}

{%  endblock %}

