{% extends 'base.html' %}
{%  load static %}

{% block body %}

<div class="container">
        <div class="row">
			<div class="col-md-12">
                <form action="{% url 'accounts:search_job' %}" method="get">

				<div class="intro-banner-search-form margin-top-95">

					<!-- Search Field -->
					<div class="intro-search-field">
						<label for ="intro-keywords" class="field-title ripple-effect">Search for Job on Hireme!</label>
						<input id="intro-keywords" type="text" placeholder="Search" name="key" value="">
					</div>

					<!-- Button -->
					<div class="intro-search-button">
						<button class="button ripple-effect" type="submit">Search</button>
					</div>

				</div>
                   </form>

			</div>

		</div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">

			<h3 class="page-title">Search Results</h3>


               {% for job in jobs %}

			<!-- Freelancers List Container -->
			<div class="freelancers-container freelancers-list-layout margin-top-35">

				<!-- Job Listing -->

				<a href="{{ job.get_absolute_url }}" class="job-listing">

					<!-- Job Listing Details -->
					<div class="job-listing-details">
						<!-- Logo -->
						<div class="job-listing-company-logo">
							<img src="{{ job.org.user.image_url }}" alt="">
						</div>

						<!-- Details -->
						<div class="job-listing-description">
							<h4 class="job-listing-company">{{ job.org.user.first_name }}<span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4>
							<h3 class="job-listing-title">{{ job.title }}</h3>
							<p class="job-listing-text">{{ job.descr|truncatechars:255 }}</p>

						</div>


						<!-- Bookmark -->
						<span class="bookmark-icon"></span>
					</div>

					<!-- Job Listing Footer -->
					<div class="job-listing-footer">
						<ul>
							<li><i class="icon-material-outline-location-on"></i> {{ job.location }}</li>
							<li><i class="icon-material-outline-business-center"></i> {{ job.get_type_display }}</li>
							<li><i class="icon-material-outline-account-balance-wallet"></i> $ {{ job.salary }}</li>
						</ul>
					</div>
				</a>
                   <br>



			</div>
			<!-- Tasks Container / End -->
              {% endfor %}

				<!-- Pagination -->
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12">
						<!-- Pagination -->
						<div class="pagination-container margin-top-30 margin-bottom-60">
							<nav class="pagination">
								<ul>
                                    {% if jobs.has_previous %}
									<li class="pagination-arrow"><a href="?page={{ jobs.previous_page_number }}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                    {% endif %}
									<li><a href="#" class="ripple-effect">{{ jobs.number }} of {{ jobs.paginator.num_pages }}</a></li>

                                    {% if jobs.has_next %}
									<li class="pagination-arrow"><a href="?page={{ jobs.next_page_number }}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
								 {% endif %}
                                </ul>
							</nav>
						</div>
					</div>
				</div>
				<!-- Pagination / End -->


		</div>
      </div>
</div>

  <!-- Spacer -->
<div class="margin-top-100"></div>


<!-- Spacer / End-->

{% include 'footer.html' %}
{% endblock %}


