{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

{% if user.is_authenticated %}
    <!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Add to your Profile</h2>

				<!-- Breadcrumbs -->

			</div>
		</div>
	</div>
</div>

 <!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-8 offset-xl-2">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>A complete profile will increase your chances</h3>
				</div>
				<!-- Form -->

                    <div class="">
                        <div class="card">
                            <form action="{% url 'accounts:create_user_profile' %}" method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" >Submit <i class="icon-material-outline-add"></i></button>
                            </form>
                        </div>
                    </div>



			</div>

		</div>
	</div>
</div>

    <br>
    <br>
    <br>


{%  endif %}


{%  endblock %}
