{%  extends 'base.html' %}
{% load static %}


{% block body %}

<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image"><a href=""><img src="{{ user.image_url}}" alt=""></a></div>
						<div class="header-details">
							<h3>{{ job.title }}</h3>
							<h5>About the Employer </h5>
							<ul>
								<li><a href="{{ job.org.user.get_absolute_url }}"><i class="icon-material-outline-business"></i> {{ job.org.user.first_name }}</a></li>
								<li><div class="star-rating" data-rating="4.9"></div></li>
                              {% if job.org.verification %}
								<li><div class="verified-badge-with-title">Verified</div></li>
                                {% endif %}
							</ul>
						</div>
					</div>
					<div class="right-side">
						<div class="salary-box">
							<div class="salary-type">Expected Salary</div>
							<div class="salary-amount">${{ job.salary }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">

		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">

			<div class="single-page-section">
				<h3 class="margin-bottom-25">Job Description</h3>
				<p>{{ job.descr }}</p>

			</div>


			<div class="single-page-section">
				<h3 class="margin-bottom-25">Similar Jobs</h3>

				<!-- Listings Container -->
				<div class="listings-container grid-layout">
                   {% for similar in similar_jobs %}
						<!-- Job Listing -->
						<a href="#" class="job-listing">

							<!-- Job Listing Details -->
							<div class="job-listing-details">
								<!-- Logo -->
								<div class="job-listing-company-logo">
									<img src="images/company-logo-02.png" alt="">
								</div>

								<!-- Details -->
								<div class="job-listing-description">
									<h4 class="job-listing-company">{{ similar.org.user.first_name }}</h4>
									<h3 class="job-listing-title">{{ similar.title }}</h3>
								</div>
							</div>

							<!-- Job Listing Footer -->
							<div class="job-listing-footer">
								<ul>
									<li><i class="icon-material-outline-location-on"></i> {{ similar.location }}</li>
									<li><i class="icon-material-outline-business-center"></i> {{ similar.get_type_display }}</li>
									<li><i class="icon-material-outline-account-balance-wallet"></i> {{ similar.salary }} $</li>

								</ul>
							</div>
						</a>
                    {% endfor %}

					</div>
					<!-- Listings Container / End -->

				</div>
		</div>


		<!-- Sidebar -->
		<div class="col-xl-4 col-lg-4">
			<div class="sidebar-container">
               {% if user.is_organisation %}
				<a href="#small-dialog" class="apply-now-button popup-with-zoom-anim">You cannot apply! <i class="icon-material-outline-arrow-right-alt"></i></a>

               {% elif not application %}
                       <form action="{% url 'accounts:view_job'  job.id %}" method="post" id="my_form">
                       {% csrf_token %}
                   <a href="javascript:{}" onclick="document.getElementById('my_form').submit();" class="button full-width button-sliding-icon ripple-effect margin-bottom-15">Apply Now <i class="icon-material-outline-arrow-right-alt"></i></a>
                       </form>

               {% elif application.status  %}
                    <a href="{% url 'accounts:see_add_response' application.id %}" class="button full-width button-sliding-icon ripple-effect margin-bottom-15">View Response<i class="icon-material-outline-arrow-right-alt"></i></a>
               {% else %}

                     <a href="#small-dialog" class="button full-width button-sliding-icon ripple-effect margin-bottom-15">Applied(Pending!)<i class="icon-material-outline-arrow-right-alt"></i></a>
               {% endif %}

               <!-- Sidebar Widget -->
				<div class="sidebar-widget">
					<div class="job-overview">
						<div class="job-overview-headline">Job Summary</div>
						<div class="job-overview-inner">
							<ul>
								<li>
									<i class="icon-material-outline-location-on"></i>
									<span>Location</span>
									<h5>{{ job.location }}</h5>
								</li>
								<li>
									<i class="icon-material-outline-business-center"></i>
									<span>Job Type</span>
									<h5>{{ job.get_type_display }}</h5>
								</li>
								<li>
									<i class="icon-material-outline-local-atm"></i>
									<span>Salary</span>
									<h5>${{ job.salary }}</h5>
								</li>

							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>

	</div>
</div>

{% include 'footer.html' %}

{% endblock %}