{% extends 'base.html' %}

{% block body %}
    <div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

                <h2>Image by - <a href="{{ user.get_absolute_url }}">{{ image_post.posted_by.first_name }} {{ image_post.posted_by.last_name }}</a></h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'accounts:home' %}">Home</a></li>
                        <li><a href="{% url 'feed:blog' image_post.posted_by.username %}">Blog</a></li>
						<li>Image</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div><br><br>
    <div class="container">
        <img src="{{ image_post.image.url }}" class="img-fluid img-thumbnail"><br><br>
        <p>{{ image_post.caption|linebreaks }}</p>
        <br><br>
        <div class="row">
            <div class="col-2">
                <form method="POST" action="{% url 'feed:photo_like' image_post.slug %}">
                    {% csrf_token %}
                    {% if request.user not in image_post.likes.all %}
                        <input type="hidden" value="like" name="action">
                        <button type="submit" class="button button-sliding-icon">
                            Like <i class="icon-material-outline-thumb-up"></i>
                        </button>
                    {% else %}
                        <input type="hidden" value="unlike" name="action">
                        <button type="submit" class="button button-sliding-icon">
                            Unlike <i class="icon-material-outline-thumb-down"></i>
                        </button>
                    {% endif %}
                </form>
            </div>
            <div class="verified-badge-with-title margin-top-10">{{ image_post.likes.all.count }} Like {% if image_post.likes.all.count > 1 %}s{% endif %}</div>
            </div><br>
        <div class="row">
            <div class="col-6"><i class="icon-material-outline-date-range"></i>  {{ image_post.created_on|date }}</div>
            <div class="col-6"><i class="icon-material-outline-access-time"></i> {{ image_post.created_on|timesince }} ago</div>
        </div>
    </div>

    <br><br><br>

    {% if comments %}
    <div class="container">
        <div class="row">
				<div class="col-xl-12">
					<section class="comments">
						<h3 class="margin-top-45 margin-bottom-0">Comments <span class="comments-amount">({{ image_post.comments.all.count }})</span></h3>

						<ul>
                            {% for comment in comments %}
							<li>
								<div class="avatar"><img src="{{ comment.user.image_url }}" alt=""></div>
								<div class="comment-content"><div class="arrow-comment"></div>
									<div class="comment-by">
                                        <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>
                                        <span class="date">{{ comment.created|date }}</span>
									</div>
									<p>{{ comment.body }}</p>
								</div>
                            </li>
                            {% endfor %}
                     </ul>

					</section>
				</div>
			</div>
    </div>
    {% endif %}

    <br><br>
    <div class="container">
    <div class="row">
        <div class="col-xl-12">

            <h3 class="margin-top-35 margin-bottom-30">Add Comment</h3>

            <!-- Form -->
            <form method="post" id="add-comment" action="{% url 'feed:add_comment' %}">
                {% csrf_token %}

                <input type="hidden" name="comment_type" value="image">
                <input type="hidden" name="slug" value="{{ image_post.slug }}">
                <textarea  name="comments" cols="30" rows="5" placeholder="Comment" required="required" spellcheck="true"></textarea>
                <div class="col-4"><button class="button button-sliding-icon" type="submit">Comment <i class="icon-line-awesome-comments-o"></i></button></div>
            </form>
        </div>
    </div>
    </div>
    <br><br>
    {% include 'footer.html' %}
{% endblock %}