{% extends 'base.html' %}
{% block body %}
    <div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

                <h2>&nbsp;</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'accounts:home' %}">Home</a></li>
						<li>Blog</li>
					</ul>
				</nav>

			</div>
            <br>
            <div class="col-md-12">
                <h1>{{ post.title }} - <a href="{{ post.author.get_absolute_url }}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h1>
            </div>
		</div>
	</div>
</div>
    <div class="container">
        <img src="{{ post.image.url }}" class="img-fluid img-thumbnail"><br><br><br>
        <div class="row">
            <div class="col-2">
                <form method="POST" action="{% url 'feed:blog_like' post.slug %}">
                    {% csrf_token %}
                    {% if request.user not in post.likes.all %}
                        <input type="hidden" value="like" name="action">
                        <button type="submit" class="button button-sliding-icon">
                            Like <i class="icon-material-outline-thumb-up"></i>
                        </button>
                    {% else %}
                        <input type="hidden" value="unlike" name="action">
                        <button type="submit" class="button button-sliding-icon">
                            Unlike <i class="icon-material-outline-thumb-down"></i>
                        </button>
                    {% endif %}
                </form>
            </div>
            <div class="col-7">{{ post.likes.all.count }} Likes</div>
            </div><br>
        <div><i class="icon-material-outline-date-range"></i> Created - {{ post.created_on }}</div><br>
        <div><i class="icon-material-outline-date-range"></i> Updated - {{ post.updated_on }}</div><br>
        <p>{{ post.content|linebreaks }}</p>
    </div>

    <br><br><br>

    {% include 'footer.html' %}
{% endblock %}