{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- Intro Banner
================================================== -->
<div class="intro-banner dark-overlay big-padding">

	<!-- Transparent Header Spacer -->
	<div class="transparent-header-spacer"></div>

	<div class="container">

		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline-alt">
					<h3>Don't Just Dream, Do</h3>
					<span>Find the best jobs in the industry</span>
				</div>
			</div>
		</div>

		<!-- Search Bar -->
		<div class="row">
			<div class="col-md-12">
                <form action="{% url 'accounts:search_job' %}" method="post">
                    {% csrf_token %}
				<div class="intro-banner-search-form margin-top-95">

					<!-- Search Field -->
					<div class="intro-search-field">
						<label for ="intro-keywords" class="field-title ripple-effect">What job you want?</label>
						<input id="intro-keywords" type="text" placeholder="Job Title or Keywords" name="key">
					</div>

					<!-- Button -->
					<div class="intro-search-button">
						<button class="button ripple-effect" type="submit">Search</button>
					</div>

				</div>
               </form>
			</div>
		</div>


	</div>

	<!-- Video Container -->
	<div class="video-container" data-background-image="images/home-video-background-poster.jpg">
		<video loop autoplay muted>
			<source src="{% static 'images/home-video-background.mp4'%}" type="video/mp4">
		</video>
	</div>

</div>

<!-- Content
================================================== -->
<!-- Features Jobs -->
<div class="section padding-top-65 padding-bottom-75">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">

				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-35">
					<h3>Recent Jobs</h3>
					<a href="jobs-list-layout-full-page-map.html" class="headline-link">Browse All Jobs</a>
				</div>

				<!-- Jobs Container -->
				<div class="listings-container compact-list-layout margin-top-35">
               {%  for job in jobs %}
					<!-- Job Listing -->
					<a href="{% url 'accounts:view_job' job.id %}" class="job-listing with-apply-button">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
								<img src="{% static 'images/company-logo-05.png'  %}" alt="">
							</div>

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">{{ job.title }}</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-business"></i> {{ job.org.user.first_name }} <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
										<li><i class="icon-material-outline-location-on"></i> {{ job.location }}</li>
										<li><i class="icon-material-outline-business-center"></i> {{ job.get_type_display }}</li>

									</ul>
								</div>
							</div>

							<!-- Apply Button -->

							<span class="list-apply-button ripple-effect">View</span>
						</div>
					</a>
                   {% endfor %}




				</div>
				<!-- Jobs Container / End -->

			</div>
		</div>
	</div>
</div>
<!-- Featured Jobs / End -->


<!-- Photo Section -->
<div class="photo-section" data-background-image="{% static 'images/section-background.jpg' %}">

	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12">
					<h2>Hire experts or be hired. <br> For any job, any time.</h2>
					<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation is on the runway towards.</p>
					{% if not user.is_authenticated %}
                    <a href="{% url 'accounts:signup' %}" class="button button-sliding-icon ripple-effect big margin-top-20">Get Started <i class="icon-material-outline-arrow-right-alt"></i></a>
				    {% endif %}
                </div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
			</div>
		</div>
	</div>
</div>

        {% include 'footer.html' %}

{% endblock %}