{% comment %} THe errors and messages will be shown via the code below {% endcomment %}

<div class="container">

{% if messages %}
    <br>
  <ul class="messages">
    {% for message in messages %}
			<div class="notification success closeable">
				<p>{{ message }}</p>
				<a class="close" href="#"></a>
			</div>
    {% endfor %}
  </ul>
{% endif %}

{% if errors %}
    <br>
    {% for error in errors %}
             <div class="notification error closeable">
				<p>{{ error }}</p>
				<a class="close" href="#"></a>
			</div>
    {% endfor %}
{% endif %}

</div>